<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-7.css">
    <link rel="stylesheet" href="assets/css/demos/demo-7.css">


<link rel='stylesheet' href='/stylesheets/style.css' />

<body>

  

<div class="container">
	<div class="screen-otp">
		<div class="screen__content">
            {{#if loginErrMessage}}
                    <div>
                      <h5 class="text-center text-danger mt-5">{{loginErrMessage}}</h5>
                    </div> 

                      {{/if}}
            
			<form class="login" method="post" action="/otp">
            
				
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="number" class="login__input" placeholder="Enter your number" name="number">
				</div>
				
				<button class="button login__submit">
					<span class="button__text">Get OTP</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				
					{{!-- <i class="button__icon fas fa-chevron-right"></i> --}}
				

			</form>
			
				{{!-- <p class="text-center"> <a href="/signup"
                    class="fw-bold text-body"> New User? Register here</a></p> --}}

			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

  
</body>